<article *ngIf="!clickedSkip && !clickedGo">
  <h1>Hallo Mareike Hedwig!</h1>
  <p class="intro-text">Erfahren Sie in nur <strong>2 Minuten</strong> spielerisch alles, was Sie während Ihres Aufenthaltes im SRH Waldklinikum wissen möchten.</p>

  <section class="info">
    <div class="column">
      <p><strong>268</strong><br />Zimmer</p>
    </div>
    <div class="column">
      <p><strong>98</strong><br />Ärzte</p>
    </div>
    <div class="column">
      <p><strong>331</strong><br />Patienten</p>
    </div>
    <div class="column">
      <p><strong>13</strong><br />Abteilungen</p>
    </div>
  </section>

  <section class="button-section">
    <button class="btn-secondary" (click)="clickSkip(true)">Überspringen</button>
    <button class="btn-primary" (click)="clickGo(true)">Tour starten!</button>
  </section>
</article>
