@import "../../variables"

article
  position: absolute
  width: 40%
  left: 50%
  top: 30%
  transform: translate(-50%, -50%)
  // background: grey
  padding: 2%
  z-index: 100

  button
    float: right
    padding: 4%
    background: $secondary-color
    border: none
