<article *ngIf="!clickedSkip && !clickedGo" [@fadeInOut]>
  <h1 (click)="clickGo(true)">Willkommen {{patientName}}!</h1>
  <p (click)="clickGo(true)" class="intro-text">Erfahren Sie in nur <strong>2 Minuten</strong> spielerisch alles, was Sie während Ihres Aufenthaltes im SRH Waldklinikum wissen möchten.</p>

  <section (click)="clickGo(true)" class="info">
    <div class="column">
      <p><strong>300</strong><br />Ärzte</p>
    </div>
    <div class="column">
      <p><strong>700</strong><br />Schwestern</p>
    </div>
    <div class="column">
      <p><strong>23.000</strong><br />Patienten</p>
    </div>
    <div class="column">
      <p><strong>11</strong><br />Abteilungen</p>
    </div>
  </section>

  <section class="button-section">
    <button class="btn-secondary" (click)="clickSkip(true)">Überspringen</button>
    <button class="btn-primary start" (click)="clickGo(true)">Tour starten!</button>
  </section>
</article>
