@import "../../../plugins/neat/neat"
@import "../../variables"

.srh-tour
  @include grid-column(8)
  padding: 2%

.srh-segment
  @include grid-column(6)

.srh-box
  background: $bg-color-highlight
  border: 1px solid darken($light-grey, 5%)
  padding: 2%

  .right-col
    @include grid-column(6)
    margin-left: 10px

  img
    @include grid-column(6)
    max-width: 100%
    height: auto
    display: inline
    margin-left: 0

.special
  background: $primary-color
  color: white

button
  font-size: $font-size-default

button.btn-primary
  // float: right
  padding: 4%
  background: $secondary-color
  border: 1px solid darken($secondary-color, 10%)

button.btn-secondary
  // float: right
  padding: 4%
  background: $grey
  border: none
  border: 1px solid darken($grey, 10%)
