<section *ngIf="!srhTourStarted" class="srh-tour">
  <h1>Ihr Aufenthalt im SRH Waldklinikum</h1>

  <div class="srh-segment">
    <h2>Standort</h2>
    <article class="srh-box-medium map">
    </article>
  </div>
  <div class="srh-segment">
    <h2>Arzt</h2>
    <article class="srh-box-medium">
      <img class="doc" src="../assets/images/doctor.png" alt="Doktor" />
      <div class="right-col">
        <h3>Dr. Stefan Metzstein</h3>
        <p class="sub-h3">Kardiologie und Neurologie</p>
      </div>
      <button class="btn-primary doktorbutton" (click)="openInfoBar()">Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment-full">
    <h2>Entdecken Sie das Klinikum!</h2>
    <article class="srh-box special">
      <img class="trophy" src="../assets/icons/trophy.svg" alt="Trophäe"/>
      <p class="tourtext">
        Werden Sie daher selbst aktiv und lernen unser Waldklinikum hautnah kennen.
        Zum Abschluss gibt es ein gratis Getränk aus der Cafeteria!
      </p>
      <button class="btn-primary right" (click)="srhTourStarted = true">Rundgang starten</button>
    </article>
  </div>

  <div class="srh-segment-small">
    <h2>Essen</h2>
    <article class="srh-box food leftbox">
      <img class="chef " src="../assets/icons/chef.svg" alt="Chef"/>
      <button class="btn-primary nahrungbutton" (click)="openInfoBar()">Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment-small">
    <h2>Info</h2>
    <article class="srh-box info">
      <div class="info-block">
        <img class="wifi" src="../assets/icons/wifi.svg" alt="Wifi"/>
        <p class="bezeichnung">Internet</p>
        <p class="preise">50 Cent pro Tag</p>
      </div>
      <div class="info-block">
        <img class="telephone" src="../assets/icons/phone.svg" alt="Phone"/>
        <p class="bezeichnung">Telefon</p>
        <p class="preise">50 Cent pro Tag</p>
      </div>
      <div class="info-block">
        <img class="tv" src="../assets/icons/computer-screen.svg" alt="Screen"/>
        <p class="bezeichnung">Fernsehen</p>
        <p class="preise">50 Cent pro Tag</p>
      </div>
    </article>
  </div>
  <div class="srh-segment-small">
    <h2>Kultur</h2>
    <article class="srh-box culture rightbox">
      <img class="chef " src="../assets/icons/theater.svg" alt="Masks"/>
      <button class="btn-primary nahrungbutton" (click)="openInfoBar()">Erfahre mehr</button>
    </article>
  </div>
</section>

<app-infobar [infoBar]="infoBar"></app-infobar>

<app-srh-tour-game *ngIf="srhTourStarted" [@rollInOut]></app-srh-tour-game>
