@import "../../../plugins/neat/neat"
@import "../../variables"

.srh-tour
  @include grid-column(8.7)
  @include grid-shift(3)
  padding: 2%
  margin-bottom: 8vh

.srh-segment
  @include grid-column(6)
  margin-left: 0
  margin-right: 20px

.srh-segment-small
  @include grid-column(4)
  margin-left: 0
  margin-right: 20px

.srh-segment-full
  @include grid-column(12)
  margin-left: 0

.srh-box
  background: $bg-color-highlight
  border: 1px solid darken($light-grey, 5%)
  padding: 2%
  position: relative

.srh-box-medium
  background: $bg-color-highlight
  border: 1px solid darken($light-grey, 5%)
  padding: 2%
  position: relative
  height: 180px

  .right-col
    // @include grid-column(6)
    margin-left: 10px

  img
    @include grid-column(6)
    max-width: 50%
    height: auto
    display: inline
    margin-left: 0

.map
  background-image: url("../assets/images/standort.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 180px

.culture
  background-image: url("../assets/images/srh-tour-culture.jpg")
  background-size: cover
  background-position: center
  min-height: 250px

  button
    position: absolute
    bottom: 1em
    left: 50%
    transform: translateX(-50%)

.food
  background-image: url("../assets/images/srh-tour-food.jpg")
  background-size: cover
  background-position: center
  min-height: 250px

  button
    position: absolute
    bottom: 1em
    left: 50%
    transform: translateX(-50%)

.info
  // max-height: 250px
  padding: 1em

  div
    padding: 1em 0


.special
  background: $primary-color
  color: white
