<section *ngIf="!srhTourStarted" class="srh-tour">
  <h1>Ihr Aufenthalt im SRH Waldklinikum</h1>

  <div class="srh-segment">
    <h2>Ihr Standort</h2>
    <article class="srh-box">
      <img src="../assets/images/doctor.png" alt="Doktor" />
      <h3>Dr. Stefan Metzstein</h3>
      <p>Doktor für Kardiologie und Neurologie</p>
      <button>Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment">
    <h2>Ihr Arzt</h2>
    <article class="srh-box">
      <img src="../assets/images/doctor.png" alt="Doktor" />
      <div class="right-col">
        <h3>Dr. Stefan Metzstein</h3>
        <p class="sub-h3">Doktor für Kardiologie und Neurologie</p>
      </div>
      <button>Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment">
    <h2>Entdecken Sie das Klinikum!</h2>
    <article class="srh-box special">
      <p>
        Werden Sie daher selbst aktiv und lernen unser Waldklinikum hautnah kennen.
        Zum Abschluss gibt es ein gratis Getränk aus von der Cafeteria!
      </p>
      <button (click)="srhTourStarted = true">Tour starten</button>
    </article>
  </div>
</section>

<app-srh-tour-game *ngIf="srhTourStarted"></app-srh-tour-game>
