<section *ngIf="!srhTourStarted" class="srh-tour">
  <h1>Ihr Aufenthalt im SRH Waldklinikum</h1>

  <div class="srh-segment">
    <h2>Standort</h2>
    <article class="srh-box-medium map">
    </article>
  </div>
  <div class="srh-segment">
    <h2>Arzt</h2>
    <article class="srh-box-medium">
      <img class="doc" src="../assets/images/doctor.png" alt="Doktor" />
      <div class="right-col">
        <h3>Dr. Stefan Metzstein</h3>
        <p class="sub-h3">Kardiologie und Neurologie</p>
      </div>
      <button class="btn-primary doktorbutton">Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment-full">
    <h2>Entdecken Sie das Klinikum!</h2>
    <article class="srh-box special">
      <img class="trophy" src="../assets/icons/trophy.svg" alt="Trophäe"/>
      <p class="tourtext">
        Werden Sie daher selbst aktiv und lernen unser Waldklinikum hautnah kennen.
        Zum Abschluss gibt es ein gratis Getränk aus von der Cafeteria!
      </p>
      <button class="btn-primary right" (click)="srhTourStarted = true">Rundgang starten</button>
    </article>
  </div>

  <div class="srh-segment-small">
    <h2>Essen</h2>
    <article class="srh-box food">
      <button class="btn-primary nahrungbutton">Erfahre mehr</button>
    </article>
  </div>
  <div class="srh-segment-small">
    <h2>Info</h2>
    <article class="srh-box info">
      <div>
        <i class="fa fa-wifi fa-3x" aria-hidden="true"></i> Internet
      </div>
      <div>
        <i class="fa fa-phone fa-3x" aria-hidden="true"></i> Telefon
      </div>
      <div>
        <i class="fa fa-television fa-3x" aria-hidden="true"></i> Fernsehen
      </div>
    </article>
  </div>
  <div class="srh-segment-small">
    <h2>Kultur</h2>
    <article class="srh-box culture">
      <button class="btn-primary">Erfahre mehr</button>
    </article>
  </div>
</section>

<app-srh-tour-game *ngIf="srhTourStarted"></app-srh-tour-game>
