@import "../../../plugins/neat/neat"
@import "../../variables"

html, body
  font-family: Ubuntu

.test
  z-index: 999999 !important

.overlay
  // position: absolute
  // top: 0
  // bottom: 0
  // left: 0
  // right: 0
  background: #E6E6E6
  z-index: 10
  // opacity: 0.6

.blur
  filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)
  -moz-filter: blur(3px)
  -webkit-filter: blur(3px)

.sidebar
  @include grid-column(3)
  background: $primary-color
  color: white
  height: 100vh
  margin-left: 0
  padding: 2%

  filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)
  -moz-filter: blur(3px)
  -webkit-filter: blur(3px)


.logo
  width: 5vw

ul
  list-style: none
  padding: 0 0 0 1vw

.dashboard
  @include grid-column(8)
  padding: 2%

  .module-box
    @include grid-column(4)
    margin-bottom: 4%
    margin-left: 0
    margin-right: 20px

    filter: blur(3px)
    -o-filter: blur(3px)
    -ms-filter: blur(3px)
    -moz-filter: blur(3px)
    -webkit-filter: blur(3px)

    h3
      color: $secondary-color

    img
      width: 100%
      height: auto
      filter: brightness(60%)


  .active-box
    filter: blur(0px)
    -o-filter: blur(0px)
    -ms-filter: blur(0px)
    -moz-filter: blur(0px)
    -webkit-filter: blur(0px)

    img
      filter: brightness(100%)

.active-sidebar
  filter: blur(0px)
  -o-filter: blur(0px)
  -ms-filter: blur(0px)
  -moz-filter: blur(0px)
  -webkit-filter: blur(0px)


.description-text
  position: absolute
  right: 2%
  bottom: 3%
  color: black
