@import "../../../plugins/neat/neat"
@import "../../variables"

.sidebar
  @include grid-column(3)
  background: $primary-color
  color: white
  height: 100vh
  margin-left: 0
  padding: 2%

.dashboard
  @include grid-column(8)
  padding: 2%

  .module-box
    @include grid-column(4)
    margin-bottom: 4%
    margin-left: 0
    margin-right: 20px

    h3
      color: $secondary-color

    img
      width: 100%
      height: auto
