@import "../../../plugins/neat/neat"
@import "../../variables"

.backdrop
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: black
  z-index: 1000
  opacity: 0.4

.blur
  filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)
  -moz-filter: blur(3px)
  -webkit-filter: blur(3px)

.sidebar
  @include grid-column(3)
  background: $primary-color
  color: white
  height: 100vh
  margin-left: 0
  padding: 2%

.logo
  width: 5vw

.dashboard
  @include grid-column(8)
  padding: 2%

  .module-box
    @include grid-column(4)
    margin-bottom: 4%
    margin-left: 0
    margin-right: 20px

    h3
      color: $secondary-color

    img
      width: 100%
      height: auto
