<main class="container">
  <div class="backdrop"></div>

  <app-welcome-screen (onClickGo)="onWelcomeGo($event)"></app-welcome-screen>

  <section class="sidebar" [ngClass]="{'blur': blurElement!=1}">
    <!-- [ngClass]="{'blur': backdrop}" -->
      <img class="logo" src="../assets/images/SRH.svg.png"/>

    <h3>Hallo, <br> Martin Rieger.</h3>

    <article>
      <strong>Tagesplan:</strong>
      <ul>
        <li>07:00 - Frühstück</li>
        <li>3x Ibuprofen</li>
        <li>09:00 - Visite</li>
        <li>10:00 - Termin Dr. Müller</li>
        <li>11:00 - Anfang der Besuchzeit</li>
        <li>13:00 - Mittagessen</li>
        <li>15:30 - Fußtherapie Dr. Linke</li>
        <li>18:00 - Ende der Besuchzeit</li>
      </ul>
    </article>

    <article>
      <strong>Medikamente:</strong>
      <ul>
        <li>3x Ibuprofen täglich</li>
        <li>2x Novaminsulfon 500mg</li>
      </ul>
    </article>
  </section>
  <section class="dashboard">
    <h1 [ngClass]="{'blur': backdrop}">Ihre Module</h1>
    <article class="container">
      <div class="module-box" [ngClass]="{'blur': blurElement!=2}">
        <img src="../assets/images/bild1.jpg" alt="bild1" />
        <h3>Waldklinikum</h3>
      </div>

      <div class="module-box" [ngClass]="{'blur': blurElement!=3}">
        <img src="../assets/images/bild2.jpg" alt="bild2" />
        <h3>Unterhaltung</h3>
      </div>

      <div class="module-box" [ngClass]="{'blur': blurElement!=4}">
        <img src="../assets/images/bild3.jpg" alt="bild3" />
        <h3>Nachsorge</h3>
      </div>

      <div class="module-box" [ngClass]="{'blur': blurElement!=5}">
        <img src="../assets/images/bild1.jpg" alt="bild1" />
        <h3>Waldklinikum</h3>
      </div>

      <div class="module-box" [ngClass]="{'blur': blurElement!=6}">
        <img src="../assets/images/bild2.jpg" alt="bild2" />
        <h3>Unterhaltung</h3>
      </div>

      <div class="module-box" [ngClass]="{'blur': blurElement!=7}">
        <img src="../assets/images/bild3.jpg" alt="bild3" />
        <h3>Nachsorge</h3>
      </div>
    </article>

  </section>


</main>
