<main class="container" [ngClass]="{'overlay': backdrop}">
  <!-- welcome screen in the beginning -->
  <app-welcome-screen [patientName]="patientName" (onClickSkip)="removeBackdrop($event)" (onClickGo)="onWelcomeGo($event)"></app-welcome-screen>

  <!-- side bar -->
  <app-sidebar [patientName]="patientName" [blurElement]="blurElement"></app-sidebar>

  <span class="home" (click)="srhTourActive = false"><img src="../assets/icons/home-black-building-symbol.svg" alt="home-button"/></span>

  <!-- srh hospital overview -->
  <app-srh-tour *ngIf="srhTourActive"></app-srh-tour>

  <!-- module display -->
  <section *ngIf="!srhTourActive" class="dashboard">
    <h1 [ngClass]="{'blur': backdrop}">Ihre Module</h1>
    <span class="repeat-tour" (click)="onWelcomeGo()">Tour wiederholen</span>

    <article class="container">
      <!-- Test mock modules -->
      <ul>
        <li *ngFor="let module of modules; let i = index">
          <div (click)="toggleSrhTour()" class="module-box" [ngClass]="{'active-box': blurElement==i || blurElement == -3}">
            <img src="{{modulePath}}{{module.image}}" />
            <h3>{{module.name}}</h3>
          </div>
          <p *ngIf="blurElement == i" class="description-text description-{{i}}">
            {{module.description}}
          </p>
        </li>
      </ul>

      <!-- description text for sidebar ! -->
      <p *ngIf="blurElement == -1" class="description-text">
        Hier befindet sich Ihre Tagesübersicht. Damit haben Sie alles im Blick, was für heute ansteht.
      </p>

    </article>
  </section>
</main>
