<main class="container" [ngClass]="{'overlay': backdrop}">
  <app-welcome-screen (onClickSkip)="removeBackdrop($event)" (onClickGo)="onWelcomeGo($event)"></app-welcome-screen>

  <section class="sidebar" [ngClass]="{'active-sidebar': blurElement==1 || blurElement == -1}">
  <p *ngIf="blurElement == 1" class="description-text">
    Hier sind alle möglichen Sachen für den heutigen Tag zu sehen.
  </p>
      <img class="logo" src="../assets/images/SRH.svg.png"/>

    <h3 class="begruessung">Hallo, <br> Martin Rieger.</h3>

    <article class="tagesplanbox">
      <img class="daily" src="../assets/icons/daily.svg" alt="daily"/>:
      <ul>
        <li>07:00 - Frühstück</li>
        <li>
          <input type="checkbox" name="medicine" id="checked">
              1x Ibuprofen
        </li>
        <li>09:00 - Visite</li>
        <li>10:00 - Termin Dr. Müller</li>
        <li>11:00 - Anfang der Besuchzeit</li>
        <li>13:00 - Mittagessen</li>
        <li>
          <input type="checkbox" name="medicine" id="checked">
              1x Ibuprofen
        </li>
        <li>15:30 - Fußtherapie Dr. Linke</li>
        <li>18:00 - Ende der Besuchzeit</li>
        <li>
          <input type="checkbox" name="medicine" id="checked">
              1x Ibuprofen
        </li>
      </ul>
    </article>

    <article>
      <img class="medicine" src="../assets/icons/medicine.svg" alt="medicine"/>:
      <ul>
        <li>3x Ibuprofen täglich</li>
        <li>2x Novaminsulfon 500mg</li>
      </ul>
    </article>
  </section>
  <section class="dashboard">
    <h1 [ngClass]="{'blur': backdrop}">Ihre Module</h1>
    <article class="container">
      <div class="module-box" [ngClass]="{'active-box': blurElement==2 || blurElement == -1}">
        <img src="../assets/images/bild1.jpg" alt="bild1" />
        <h3>Waldklinikum</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 2" class="description-text">
          Dies ist ein Test Beschreibungstext. Hier kommen verschiedene
          Informationen zu dem entsprechenden Modul rein.
        </p>
      </div>

      <div class="module-box" [ngClass]="{'active-box': blurElement==3 || blurElement == -1}">
        <img src="../assets/images/unterhaltung.jpeg" alt="unterhaltung" />
        <h3>Unterhaltung</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 3" class="description-text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod.
        </p>
        </div>

      <div class="module-box" [ngClass]="{'active-box': blurElement==4 || blurElement == -1}">
        <img src="../assets/images/kinderstation.jpeg" alt="Kinderstation" />
        <h3>Kinderstation</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 4" class="description-text">
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </div>

      <div class="module-box" [ngClass]="{'active-box': blurElement==5 || blurElement == -1}">
        <img src="../assets/images/nachsorge.jpeg" alt="Nachsorge" />
        <h3>Nachsorge</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 5" class="description-text">
          Dies ist ein Test Beschreibungstext. Hier kommen verschiedene
          Informationen zu dem entsprechenden Modul rein.
        </p>
      </div>

      <div class="module-box" [ngClass]="{'active-box': blurElement==6 || blurElement == -1}">
        <img src="../assets/images/nach.jpeg" alt="unterhaltung" />
        <h3>Nachsorge</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 6" class="description-text">
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </div>

      <div class="module-box" [ngClass]="{'active-box': blurElement==7 || blurElement == -1}">
        <img src="../assets/images/bild3.jpg" alt="bild3" />
        <h3>Mutterstation</h3>

        <!-- Beschreibungstext -->
        <p *ngIf="blurElement == 7" class="description-text">
          Dies ist ein Test Beschreibungstext. Hier kommen verschiedene
          Informationen zu dem entsprechenden Modul rein.
        </p>
      </div>
    </article>
  </section>
</main>
