/* You can add global styles to this file, and also import other style files */
@import "../plugins/neat/neat"
@import "variables"

body
  margin: 0
  font-family: Rubuk
  font-size: $font-size-default
  background: $bg-color

.container
  @include grid-container
  font-family: 'Rubik', sans-serif

.special-font-1
  color: $primary-color
.special-font-2
  color: $secondary-color

h2
  font-weight: normal
  margin: 1.2em auto 0.4em auto

button
  font-size: $font-size-default

button.btn-primary
  // float: right
  padding: 1em
  background: $secondary-color
  border: 1px solid darken($secondary-color, 10%)

button.btn-secondary
  // float: right
  padding: 1em
  background: $grey
  border: none
  border: 1px solid darken($grey, 10%)
