// variables.sass
// here are the variables for common css properties stored
$primary-color: #0c3a78
$secondary-color: #A2BB17

$light-green: mediumseagreen
$dark-green: #608074
$warning-color: #d9534f

$light-grey: #FAFAFA
$grey: #D8D8D8

$bg-color-highlight: white
$bg-color: $light-grey

$font-size-default: 1em
$third-color: #2E4053
